.g-category-wrapper {
  min-height: 100vh;
  padding-bottom: 50px;
  height: 100%;
  background: #d7d9ff;

  .go-top-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: cornflowerblue;
    position: fixed;
    right: 10px;
    bottom: 20px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #3b3b3b;
  }
}

.search-wrapper {
  margin: 20px 0;

  .search-list-1, .search-list-2 {
    display: flex;
    user-select: none;

    .search-list-item {
      background: #f6f8fa;
      border-radius: 5px;
      margin: 5px;
      color: #656b79;
      line-height: 30px;
      text-align: center;
      flex: 1;
    }
    .active {
      background: #ff8d90;
    }
  }

  .search-list-2 {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
  }
}
