.member-wrapper {
  min-height: 100vh;
  background: #bcee94;


  .header-logo {
    line-height: 70px;
    text-align: center;
    background: #FF836B;

  }

  .member-main {

    .member-info{
      height: 130px;
      display: flex;
      align-items: center;

      .info-img{
        width: 70px; height: 70px;
        border-radius: 50%;
        margin: 30px;
        background: #ffe65b;
      }
    }

    .member-nav {
      line-height: 50px;
      display: flex;
      margin: 10px 0;
      //background: red;

      div {
        margin: 0 10px;
        border-radius: 5px;
        width: 30%;
        text-align: center;
        background: #9ad0ff;

      }
      .active{
        background: #FF836B;
      }
    }
  }
}
